{% extends 'base.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}
    <h1 class="h3">Mes réservations</h1>
    <div class="alert alert-info">Vous n'avez pas encore de réservation.</div>
{% endblock %}
