{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1 class="h3 mb-3">Administration</h1>
    <ul class="list-unstyled">
        <li><a href="#">Véhicules</a></li>
        <li><a href="#">Réservations</a></li>
    </ul>
{% endblock %}
