{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="h3">Créer un compte</h1>
    <div class="alert alert-info">Formulaire d'inscription à venir.</div>
{% endblock %}
